@import url(//fonts.googleapis.com/css?family=RobotoDraft&lang=en);

body {
    display: block;
    margin: 0;
    font-family:'RobotoDraft', Arial, sans-serif;
}
p {
    margin: 0;
}
div.container {
    width: 100%;
    /*max-width: 1000px;*/
    margin-left: auto;
    margin-right: auto;
}
img.shrinkable {
    width: 100%;
    display:block;
    /*max-width: 1000px;*/
}
p.text {
    padding: 10px;
}
div.floating-menu {
    position:fixed; background:white; opacity: 0.8; z-index:100;right: 10px; top:10px;
    cursor: pointer;
}
div.floating-menu a, div.floating-menu h3 {
    display:block;margin:0 0.5em;
}
.module {
    position: relative;
}

.overlayIcon {
    margin-left: calc(50% - 5vw);
    bottom: calc(50% - 5vw);
    position: absolute;
}
.overlayIcon img {
    width: 10vw;
}
.overlayIconSvg {
    width: 13%;
    height: 13%;
}
.overlayText {
    position: absolute;
    color: white;
    bottom: 10%;
    left: 5%;
}
#topIcon {
    width: 80px;
}
#topQuotes {
    display: inline-block;
    font-size: 4em;
    color: #32AF95;
    font-weight: bold;
    margin-left: 25px;
}
#topText {
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    max-width: 50%;
}
#menuContent {
    display: none;
}
#menuContent.menuActive {
    display: block;
    width:150px;
}
#menuContent p {
    padding: 2px;
    width: 150px;
    height: 25px;
    background: yellow;
    text-align: center;
    cursor: pointer;
    border-top: 1px solid red;
    line-height: 25px;
}
.panel, .flip {
    padding: 5px;
    text-align: center;
    background-color: #ffffff;
    border: solid 1px #c3c3c3;
}

.panel {
    padding: 50px;
    display: none;
}

@media all and (max-width: 960px) {

    #topQuotes {
        display: inline-block;
        font-size: 2em;
        color: #32AF95;
        font-weight: bold;
        margin-left: 25px;
    }
    #topText {
        display: inline-block;
        font-size: 1em;
        font-weight: bold;
        max-width: 60%;
    }
    .overlayIcon {
        margin-left: calc(50% - 8vw);
        bottom: calc(50% - 1vw);
        position: absolute;
        width: 100%;
    }

}